<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<div data-layout-fragment="content" data-th-object="${object}">
    <h1 data-th-text="*{lineItem.label}"></h1>
    <h2>Results</h2>
    <div class="row" data-th-unless="*{#lists.isEmpty(results)}">
        <div data-th-each="result: *{results}" data-th-aria-label="${result.id}" class="card" role="region">
            <div class="card__contents">
                <p><em>ID:</em><span data-th-text="${result.id}"></span></p>
                <p><em>UserId:</em><span data-th-text="${result.userId}"></span></p>
                <p><em>Score:</em><span data-th-text="${result.resultScore}"></span></p>
                <p><em>Comment:</em><span data-th-text="${result.comment}"></span></p>
            </div>
        </div>
    </div>
    <h2>Score</h2>
    <form data-th-action="@{/ags/lineitems/score(id=${object.lineItem.id})}" method="post">
        <div class="form-group">
            <label for="userId">User</label>
            <select id="userId" name="userId" class="form-item">
                <option value="">-</option>
                <option data-th-each="member : ${object.members}" data-th-value="${member.userId}" data-th-text="${member.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="score">Score</label>
            <input type="number" id="score" name="score" placeholder="score" class="form-item">
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea id="comment" name="comment" placeholder="comment" class="form-item"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" name="save" class="btn btn--primary">Send</button>
        </div>
    </form>
</div>
</html>